$def with (count)
<html>
<head>
	<title>
		ABOUT - JustCompare(Beta) - Price comparision made easy!
	</title>
	<link rel="stylesheet" type="text/css" href="/justcompare/static/about/style.css" />
	<link href='http://fonts.googleapis.com/css?family=Lobster+Two' rel='stylesheet' type='text/css'>
	<script type="text/javascript" src="/justcompare/static/index/jquery.js"> </script>
	<link rel="shortcut icon" href="/justcompare/static/favicon.ico?v=2"/>
	<link rel="icon" type="image/png" href="/justcompare/static/favicon.ico"/>         
	<link href="http://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">

	<link rel="stylesheet" type="text/css" href="/justcompare/static/index/jquery-ui.css" />   
	<script type="text/javascript" src="/justcompare/static/index/auto_script.js"> </script>
	<script type="text/javascript" src="/justcompare/static/index/jquery-ui.min.js"> </script>
</head>
<body>
	<div class="header">
		"So many books, so little time" &nbsp; -&nbsp;<a href="http://en.wikipedia.org/wiki/Frank_Zappa" target="_blank" style="color:#FFFFFF; text-decoration:none;" >Frank Zappa</a>
	</div>
	<div class="div1" id= "overlay" ><a href="/justcompare"><img src="/justcompare/static/logo_crop.png" style="width:400px; margin-left:20%;margin-right:auto; margin-top: 25px"/></a><br/>
		
		<div class="proj_details">
			<p>
				Hi! I am Chaitanya. JustCompare is a price comparison engine that <a href="http://www.cse.buffalo.edu/~cnettem">I</a> created as a project. Its primary purpose as the name suggests is to provide a web interface which allows users to compare prices of books.
			</p>

			<p>
				It gathers information using web scrapers which were programmed specifically to gather book prices and other details from leading Indian retailers.  Once the data is gathered it is stored in a postgresql database from where it is fetched for display on the website.
			</p>

			<p>
				The scrapers were written in python. <a href="http://webpy.org/">Web.py</a> was used as the web framework for the app and it is currently hosted using the same with apache and mod_wsgi. The code and database dump is available on <a href="http://www.github.com/chaitanyanettem/justcompare">Github</a>.
			</p>

			<p>
				Since the time when the scrapers were created, some retail sites have undergone extensive changes affecting their structure which is causing their respective scrapers to malfunction. This in turn means that some book prices are old. 
			</p>

			<p>I am planning on making relevant changes to the scrapers once my vacation starts (on December 16th!). So be sure to check again in a few weeks to see improved coverage of seller sites and new features (like related books, price-watch etc.)!
			</p>
			<p>UPDATE (December 28, 2013): Flipkart crawler now working. :)
			</p>
			
			<p>UPDATE 2 (December 28, 2013): Almost forgot to mention. We broke the million books mark a couple of days back!
			</p>
		</span>
		</div>
	
	</div>
	<div class="bottom-bar">
		<span style="margin-left:auto;font-size:18px">Currently indexing $count[0]['count'] awesome books!</span>
	</div>
</body>
</html>
